example/workflow-fiware.js
[{"id":"b7770c7.af87bf","type":"tab","label":"Flow 1"},{"id":"fa46e6ab.54e888","type":"tab","label":"Flow 2"},{"id":"71f3af12.39b1f","type":"fiware-config","z":"","idas_server_url":"http://172.24.38.56:7896/iot/d","service":"OpenIoT","servicepath":"/agile","apikey":""},{"id":"91a76986.594468","type":"agile-config-server","z":"","host":"agile","port":"8080"},{"id":"9f6076c.e111288","type":"ui_group","z":"","name":"Temperature","tab":"bc120e4e.c9c43","disp":true,"width":"6"},{"id":"bc120e4e.c9c43","type":"ui_tab","z":"","name":"Home","icon":"dashboard"},{"id":"b1d9c1f6.f43bd","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"Helvetica Neue","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"Helvetica Neue","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"Helvetica Neue"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false}}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"18689ae8.ff84d5","type":"fiware-send-data","z":"b7770c7.af87bf","name":"fiware send","server":"71f3af12.39b1f","deviceid":"agile-temperature","attribute":"t","x":590,"y":260,"wires":[[]]},{"id":"7d1e720e.f5c82c","type":"agile-device-read","z":"b7770c7.af87bf","server":"91a76986.594468","name":"dummy","deviceId":"dummy001122334455","componentId":"DummyData","interval":"10","x":84,"y":260,"wires":[["8f359a6e.21ec18"]]},{"id":"8f359a6e.21ec18","type":"idm-token","z":"b7770c7.af87bf","name":"","tokensource":"session","idm":"http://agile-idm:3000","userinfo":false,"x":229.5,"y":260,"wires":[["8490f315.5986b"]]},{"id":"8bf5fac6.ed96b8","type":"idm-attribute","z":"b7770c7.af87bf","name":"idm apikey","idm":"http://agile-idm:3000","property":"attribute","x":408.5,"y":260,"wires":[["18689ae8.ff84d5"]]},{"id":"8490f315.5986b","type":"function","z":"b7770c7.af87bf","name":"idm apikey params","func":"msg.entity_id = \"agile!@!agile-local\";\nmsg.entity_type = \"user\";\nmsg.attribute = \"credentials.fiware-idas\";\nmsg.destination_property = \"apikey\";\nreturn msg;","outputs":1,"noerr":0,"x":310.5,"y":323,"wires":[["8bf5fac6.ed96b8"]]},{"id":"262f278a.3b0c38","type":"inject","z":"fa46e6ab.54e888","name":"trigger","topic":"","payload":"","payloadType":"date","repeat":"10","crontab":"","once":true,"x":136.5,"y":203,"wires":[["e79398f8.9a4608"]]},{"id":"d39a7c78.e1a42","type":"http request","z":"fa46e6ab.54e888","name":"request orion","method":"GET","ret":"txt","url":"http://172.24.38.56:1026/v2/entities/agile-temperature?attrs=temperature","tls":"","x":501.5,"y":204,"wires":[["f846eb5d.4678c8"]]},{"id":"e79398f8.9a4608","type":"function","z":"fa46e6ab.54e888","name":"prepare req","func":"msg.headers = {\n  \"Fiware-Service\": \"OpenIoT\",\n  \"Fiware-ServicePath\": \"/agile\"\n};\nreturn msg;","outputs":1,"noerr":0,"x":317.5,"y":204,"wires":[["d39a7c78.e1a42"]]},{"id":"2bf022e1.df6f3e","type":"ui_chart","z":"fa46e6ab.54e888","name":"","group":"9f6076c.e111288","order":0,"width":0,"height":0,"label":"chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"x":413.5,"y":312,"wires":[[],[]]},{"id":"f846eb5d.4678c8","type":"function","z":"fa46e6ab.54e888","name":"parse chart","func":"var o = JSON.parse(msg.payload);\nmsg.payload = o[\"temperature\"][\"value\"];\nreturn msg;","outputs":1,"noerr":0,"x":265.5,"y":312,"wires":[["2bf022e1.df6f3e"]]}]
